html{font-size: 100%; font-size: 20px;}
body{margin: 0; font-size: 1rem;}
img{
    display: block;
    object-fit: cover;
    max-width: 100%;
}

.menu{ /*容器*/
    display: flex;
    justify-content: center;
    align-items: center;
}
.headline{
    flex: 90%;
    text-align: left;
    font-size: 1rem;
    font-weight: bold;
    margin: 10px;
}
.item{
    margin: 10px; 
    flex: auto; 
    text-align: right;
    display: block;
    white-space: nowrap;     
}
.mobile-menu{
    text-align: right;
    display: none;
    margin: 10px;
    flex:auto;
}
.welcome{/*歡迎文字容器*/
    justify-content: center;
    align-items: center;
}
.banner{/*歡迎文字*/
    background-color: rgb(219, 243, 251);
    padding-top:130px;
    padding-bottom: 130px;
    font-size: 2rem;
    height: 40px;
    font-weight: bold;
    margin-bottom: 40px;
    text-align: center;
    white-space: nowrap;
}

.promotion{ /*promo容器*/
    display: flex;
    justify-content:center;
    align-content: center;
}
.box{/*promo長方框*/
    flex:none;
    background-color: rgb(219, 243, 251);
    width: 490px;
    padding-left: 10px;
    text-align: left; 
    line-height: 50px;
    margin-right: 20px;
    margin-bottom: 40px;
}
.picture{/*promo長方形相片*/
    flex:none;     
    margin-left: 20px;
    margin-bottom: 40px; 
}

.pics{/*容器*/
    display: flex;
    align-content: center;
    justify-content: center;
}

.main1, .main2, .main3, .main4{ /*主內容照片設定平行*/
    flex: none;
    width: 270px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 80px;
}

.title1, .title2, .title3, .title4{/*主內容小長方框設定*/
    flex: none;
    margin-right: 10px;
    margin-bottom: 40px;
    width: 270px;
    background-color:rgb(219, 243, 251);
    line-height: 50px;
    text-align: center;
}

@media (max-width: 1200px){
    .promotion{
        flex-wrap: wrap;
    }
    .box{
        width: 29%;
    }
    .pics{
        flex-wrap: wrap

    }

}
@media (max-width: 600px){
    .item{
        flex:auto; text-align: right;
        display: none;     
    }
    .mobile-menu{
        text-align: right;
        display: block;
    }
    .box{
        width: 62%;
    }
    .welcome{
        flex-wrap: wrap;
    }
    .banner{
        width: 100%;
    }


}



/*第二個問題是在promotion的縮放在@media調整比例時，
無法在600px~1200px、600px以下的範圍時能夠剛好佔畫面寬度的90%，
縮小到600px以下後，右邊的小圖會留在上層，如附圖所示
第三個問題是主內容不會跟著上排兩個promotion框框一起縮放，
主內容在縮放時我只能設定整個容器wrap的比例，並不能逐一寫圖片及title的比例，
否則會整個版型跑掉（不會置中），畫面剛縮小到1200px時，四排會先縮成三排才跳到兩排，
也沒有占螢幕的90%，現在用的比例是嘗試好幾次後暫時折衷採用的，
因為若改成其他比例，版面會變的更亂。

/*已解決:promotion置中、已解決主內容置中*/
/*已解決:主內容置中、圖片與下方方框空隙去除、尺寸調整完畢*/
/*已經解決:主內容群組*/
/*已解決:處理圖片被壓縮的問題*/
